<% @doctors.each do |doc|%>
    <ul>
        <li>Name: <%= doc.name %> - Specialty: <%= doc.specialty %> 
        <%= if current_user.admin? then link_to 'Remove Doctor', doctor_path(doc), method: :delete end %>
            
        </li>
    </ul>
<% end %>